body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}
body, button, input, label, select, td, textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}
.media:hover {
	background-color: #FBFBFB;
}
.logo {
    height: 2rem;
    display: block;
    margin: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.fblogo {
    height: 3rem;
    margin-bottom: 1rem;
    display: block;
    margin: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
iframe {	
    border: none;
    width: 350px;
    height: 650px;	
}
.iframediv {
    border: 1px solid #e9eaeb;
    border-radius: 8px;
    box-shadow: #e9eaeb 0 2px 8px;
    box-sizing: border-box;
    margin: 0 12px 12px 12px;
    overflow: visible;
}
.ad {
    background-color: #fff;
    border: 1px solid #e9eaeb;
    border-radius: 8px;
    box-shadow: #e9eaeb 0 2px 8px;
    box-sizing: border-box;
    overflow: visible;
}
.col-sm {
	background-color: #f8f9fa;
	padding-bottom: 2rem;
}
.sp_TCIOV7hgjyW_2x {
    background-image: url(/images/5wTTcUKzUY-.png);
    background-size: 81px 452px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}
.sp_TCIOV7hgjyW_2x.sx_f405b0 {
    background-position: -34px -273px;
}
._9cd2 {
    margin-left: 6px;
}
._7jv- {
    align-items: center;
    display: flex;
    margin-bottom: 4px;
}
._7jv- span {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: normal;
    overflow-wrap: normal;
    text-align: left;
    color: rgb(28, 30, 33);
}
