body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}
body, button, input, label, select, td, textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}
.media:hover {
	background-color: #FBFBFB;
}
.logo {
    height: 2rem;
    display: block;
    margin: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.fblogo {
    height: 3rem;
    margin-bottom: 1rem;
    display: block;
    margin: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
iframe {	
    border: none;
    width: 350px;
    height: 650px;
}
.ad {
    background-color: #fff;
    border: 1px solid #e9eaeb;
    border-radius: 8px;
    box-shadow: #e9eaeb 0 2px 8px;
    box-sizing: border-box;
    overflow: visible;
}
.col-sm {
	background-color: #f8f9fa;
}
